.mapUI {
  position: fixed;
  top: 0;
  right: 0;
  transform: scale(0.5) translate(50%, -50%);
  transition: 1s;
  z-index: 2;
}

.map_button {
  background: var(--imuv-color-one);
  border-radius: 25px;
  padding: 5px;
  margin: 2px;
}

.map_button:hover {
  background: var(--imuv-color-three);
  cursor: pointer;
}

/* dropdown menu */

.dropdown {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 6;
  display: inline-block;
}

.dropdown-content {
  z-index: 7;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content div:hover {
  background-color: #ddd;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.map_icon {
  width: 20px;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.map_icon:hover {
  cursor: pointer;
  filter: brightness(120);
}

.map_info {
  position: absolute;
  z-index: 5;
  border: 2px dotted var(--imuv-color-one);
  background-color: yellow;
  opacity: 0.3;
}

.map_info:hover {
  cursor: help;
  opacity: 0.5;
}

.no_event {
  pointer-events: none;
}
