.mapUI {
  position: fixed;
  top: 0;
  right: 0;
  transform: scale(0.5) translate(50%, -50%);
  transition: 1s;
  z-index: 2;
}

.map_button {
  background: var(--imuv-color-one);
  border-radius: 25px;
  padding: 5px;
  margin: 2px;
}

.map_button:hover {
  background: var(--imuv-color-three);
  cursor: pointer;
}

.map_info {
  position: absolute;
  z-index: 5;
  border: 2px dotted var(--imuv-color-one);
  background-color: yellow;
  opacity: 0.3;
}

.map_icon {
  position: absolute;
  z-index: 6;
  width: 20px;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.map_icon:hover {
  cursor: pointer;
  filter: brightness(120);
}

.map_info:hover {
  cursor: help;
  opacity: 0.5;
}

.no_event {
  pointer-events: none;
}
