.root_menu_avatar {
  position: fixed;
  z-index: 2;
  background-color: var(--imuv-color-two);
  display: grid;
}

.root_menu_avatar .button-imuv {
  margin: auto;
}

.root_menu_avatar h1 {
  margin: auto;
}
