.root_menu_avatar {
  position: fixed;
  z-index: 2;
  background-color: var(--imuv-color-two);
  display: grid;
  border: 2px solid;
  border-color: var(--imuv-color-one);
  box-sizing: border-box; /* padding and border are included in the width and height */
  color: var(--imuv-color-one);
  grid-gap: 20px;
  padding: 0px 5px;
  width: 25%;
}

.root_menu_avatar .button-imuv {
  margin: auto;
}

.root_menu_avatar select {
  height: fit-content;
}

.root_menu_avatar div {
  justify-content: space-between;
  display: flex;
}

.root_menu_avatar .wrap-input-file {
  border: 1px dashed var(--imuv-color-one);
  width: 50%;
  display: flex;
  flex-direction: column;
}

.root_menu_avatar .wrap-input-file:hover {
  cursor: pointer;
  filter: drop-shadow(4px 3px 10px) invert(0.8);
}

.root_menu_avatar .is-dragover {
  filter: drop-shadow(4px 3px 10px) invert(0.8);
}

.root_menu_avatar .wrap-input-file input {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  position: absolute;
}

.root_menu_avatar .wrap-input-file > * {
  cursor: pointer;
}

.root_menu_avatar .wrap-input-file label {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.root_menu_avatar .wrap-input-file img {
  margin: auto;
  pointer-events: none;
  height: 100px;
  max-width: 90%;
}
