/* Game View */
.fadeIn_GameView {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  animation: fadein 1s linear forwards;
  opacity: 0;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

.fadeOut_GameView {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  animation: fadeinout 1s linear forwards;
  opacity: 1;
}

@keyframes fadeout {
  100% {
    opacity: 0;
  }
}

/* Image Popup */
.popup_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

.popup_wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 15px;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #0000004d;
  backdrop-filter: blur(6px);
  z-index: 3;
}

.popup_descr {
  background-color: white;
  height: fit-content;
  max-height: 100%;
  width: 100%;
  overflow: auto;
  text-align: center;
  padding: 1%;
}

.popup_close_button {
  height: 100%;
  width: 100%;
}

.grid_item--image {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 10;
}

.grid_item--map {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 10;
}

.grid_item--descr {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: 5;
}

.grid_item--close {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  margin: 0;
}

.popup-signage {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: white;
}

#itowns-scale {
  user-select: none;
  z-index: 10;
  padding: 0px 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  border-left: 1px solid rgba(255, 255, 255, 0.8);
  border-image: initial;
  border-radius: 7px;
  border-top: none;
  background-color: var(--imuv-color-one);
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.root_label_info {
  border-radius: 5px;
  z-index: 2;
  font-size: x-large;
  color: var(--imuv-color-one);
  background-color: var(--imuv-color-two);
  /* min-width: 210px; */
  padding: 10px;
  position: fixed;
  left: 50%;
  top: 5%;
  font-family: sans-serif;
  animation: bounce 1s infinite alternate;
  border: solid;
}

@keyframes bounce {
  0% {
    transform: translate(-50%, 0%) scale(0.75);
  }
  100% {
    transform: translate(-50%, 0%) scale(1);
  }
}

.root_menu_avatar {
  position: fixed;
  z-index: 2;
  background-color: var(--imuv-color-two);
  display: grid;
}

.mask_icon {
  background-color: var(--imuv-color-one);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: cover;
  mask-size: cover;
  height: 40px;
  width: 40px;
  margin: auto;
}

.save_icon {
  -webkit-mask-image: url(./assets/img/ui/icon_save.png);
  mask-image: url(./assets/img/ui/icon_save.png);
}

.close_cross {
  -webkit-mask-image: url(./assets/img/ui/icon_close.png);
  mask-image: url(./assets/img/ui/icon_close.png);
}

.button-imuv:hover .mask_icon {
  background-color: var(--imuv-color-two);
}

.draggable {
  cursor: move;
}

.splash {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label_splash {
  opacity: unset;
  font-size: xxx-large;
  z-index: 1;
  font-family: sans-serif;
}

.bg_splash {
  background-color: gray;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
}
