.root_menu_avatar {
  position: absolute;
  z-index: 2;
  background-color: white;
}

.root_menu_avatar img {
  padding: 2px;
  margin: 2px;
  background-color: hotpink;
}

.root_menu_avatar img:hover {
  cursor: pointer;
}
