/** @format */

:root {
  --color-one: #de425b;
  --color-two: #ee6196;
  --color-three: #f193b2;
  --color-four: #fdc4c7;
  --color-five: #ffd5d7;
}

.flex_Editor {
  display: flex;
}

.input_Editor {
  display: block;
}

.ui_Editor {
  overflow: scroll;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  display: inline-block;
  height: 100%;
  background-color: var(--color-four);
  padding: 5px;
  overflow-y: auto;
  padding: 0px;
}

.ul_Editor {
  margin: 0%;
  background-color: var(--color-five);
}

.li_Editor {
  display: flex;
  cursor: pointer;
  font-size: small;
  margin: 0%;
  background-color: var(--color-five);
  border-left: solid var(--color-one);
}
.li_Editor:hover {
  background-color: var(--color-one);
}

.parentUI_Editor {
  display: unset;
}

.root_Editor {
  height: 100%;
  background-color: var(--color-three);
}

.hidden {
  display: none !important;
}

.button_Editor {
  border-bottom: solid var(--color-one);
  background-color: var(--color-five);
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: inherit;
}

.button_Editor:hover {
  background-color: var(--color-one);
}

.canvas_Editor {
  position: relative;
  width: 300px !important;
  height: 300px !important;
}
