/** @format */

.root_Sign {
  margin: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: sans-serif;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parentInput_Sign {
  text-align: center;
  margin: 20px;
}

.parentCentered_Sign {
  background: white;
  border-radius: 5px;
  border: solid 1px;
}

.input_Sign {
  min-width: 350px;
}

.button_Sign {
  border: solid 1px;
  background: hotpink;
  margin: 5px;
  text-align: center;
  color: white;
  cursor: pointer;
}

.button_Sign:hover {
  background: magenta;
  cursor: pointer;
}
