:root {
  --imuv-color-one: #e5007b;
  --imuv-color-two: whitesmoke;
  --imuv-color-three: #aebbc2;
  --imuv-color-four: #63e500;
}

/* https://stackoverflow.com/a/23860302 */
input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button {
  /* chromes and blink button */
  cursor: pointer;
}

.hidden {
  display: none !important;
}

/*UD-Viz overwrite*/

.ui_View3D {
  overflow: auto;
  max-height: 100%;
  width: 100%;
  height: 100%;
}
