/** @format */

.root_MenuAvatar {
  background-color: green;
  width: 100%;
  height: 100%;
  position: absolute;
}

.ui_MenuAvatar {
  display: inline-block;
  height: 100%;
  background-color: burlywood;
  padding: 5px;
}

.canvas_MenuAvatar {
  display: inline-block;
  position: absolute;
}

.button_MenuAvatar {
  min-width: 75px;
  background-color: blue;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  user-select: none;
  font-size: small;
  margin: 2px;
}

.button_MenuAvatar:hover {
  background-color: red;
  cursor: pointer;
}
