/** @format */

.flex_Editor {
  display: flex;
}

.input_Editor {
  display: block;
}

.li_Editor {
  display: flex;
  cursor: pointer;
  font-size: small;
  margin: 0%;
}

.ui_Editor {
  overflow: scroll;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 200px;
  display: inline-block;
  height: 100%;
  background-color: burlywood;
  padding: 5px;
  overflow-y: auto;
}

.ul_Editor {
  margin: 0%;
}

.li_Editor:hover {
  background-color: blueviolet;
}

.parentUI_Editor {
  display: unset;
}

.root_Editor {
  height: 100%;
  background-color: chartreuse;
}

.hidden {
  display: none;
}

.button_Editor {
  min-width: 75px;
  background-color: blue;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  user-select: none;
  font-size: small;
  margin: 2px;
}

.button_Editor:hover {
  background-color: red;
  cursor: pointer;
}
