/** @format */

.root_GOEditor {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ui_GOEditor {
  display: inline-block;
  height: 100%;
  background-color: burlywood;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 5px;
}

.canvas_GOEditor {
  display: inline-block;
  position: absolute;
}
