/** @format */

.loading_GameApp {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingParent_GameApp {
  text-align: center;
}

@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loadingImg_GameApp {
  width: 200px;
  height: 200px;
  animation-duration: 3s;
  animation-name: Rotate;
  animation-iteration-count: infinite;
}

.splash_GameApp {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label_splash_GameApp {
  opacity: unset;
  font-size: xxx-large;
  z-index: 1;
  font-family: sans-serif;
}

.bg_splash_GameApp {
  background-color: gray;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
}
