.root_Doc {
  width: 80%;
  height: 85%;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0%);
  font-family: sans-serif;
  display: flex;
  margin-top: 75px;
}

#menu_Doc {
  width: 12.75rem;
  background-color: #2a2d2f;
  color: whitesmoke;
}

#menu_Doc ul {
  list-style: none;
}

#menu_Doc li {
  cursor: pointer;
}

#menu_Doc li:hover {
  color: #e6007c;
}

#content_Doc {
  overflow-x: auto;
  padding: 1rem 2rem;
  background-color: #e5007b;
  width: inherit;
}

#content_Doc img {
  width: 100%;
  max-height: 650px;
  max-width: max-content;
}
